/* .fade-effect {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .fade-effect:hover {
    opacity: 1;
  } */

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .fade-out {
    animation: fadeOut 2s forwards;
  }
  