* {
    background-color: black;
    color: white;
    font-size: 20px;
}

button {
    /* text-decoration: none; */
    background-color: red;
    margin: 20px;
    cursor: pointer;
}
table {
    border: 10px inset red;
    width: 80%;
}
th, td {
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    padding: 5px;
}