* {
  background-color: black;
  color: white;
}
table {
  border: 2px solid black;
}
button {
  background-color: purple;
}
th {
  border: 1px solid blue;
  text-align: center;
  padding: 15px;
}
td {
  border: 1px solid yellow;
  text-align: center;
  padding: 15px;
}